@import url(../styles/main.css);
@import url(../styles/components/anchor-style.css);
@import url(../styles/components/footer.css);
@import url(../styles/components/header.css);
@import url(../styles/components/contact.css);

/* other styling */
.main-cta {
  margin: auto;
  max-width: 2000px;
  width: 100%;
  padding: 200px 80px 100px;
  background-image: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 5px #000;
  background-attachment: fixed;
  background-size: cover;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}

.main-cta h1 {
  font-size: 45px;
  letter-spacing: 8px;
}

.main-cta h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 900px;
  width: 100%;
}

.service {
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-list {
  max-width: 1000px;
  margin: 0 auto;
}

.service-list h1 {
  font-size: 25px;
}

.service-list p {
  margin: 10px 0 30px;
  font-weight: 300px;
  max-width: 600px;
  width: 100%;
}

.sub-services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.serv {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(202, 202, 202);
}

.serv-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.serv-img img {
  object-fit: cover;
  height: 200px;
  object-position: center;
  transition: transform ease 1s;
}

.serv:hover .serv-img img {
  transform: scale(1.2);
}

.serv-details {
  padding: 15px;
}

.serv-view-type {
  color: #b7b7b7;
  font-weight: 500;
}

.serv-details h4 {
  color: var(--wine-color);
  margin-top: 5px;
  font-variant: small-caps;
  font-size: 22px;
}

.serv-link {
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  font-weight: 500;
  transition: all ease-in-out 1s;
  color: var(--blue-dark-color);
}

.serv-link:hover {
  color: var(--wine-color);
}

@media (max-width: 650px) {
  .sub-services {
    width: calc(100vw - 100px);
    display: flex;
    justify-content: flex-start;
    grid-gap: 15px;
    gap: 15px;
    overflow: hidden;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .serv {
    min-width: 300px;
    display: grid;
  }
}
