/* service request form */

.contact {
  width: 100%;
  padding: 150px 0 var(--body-padding);
  content: "";
  position: relative;
  display: grid;
  place-items: center;
}

.contact::after {
  background-color: var(--blue-dark-color);
  width: 100%;
  position: absolute;
  content: "";
  height: 50%;
  top: 0;
  right: 0;
  z-index: -1;
}

.contact::before {
  background-color: var(--wine-color);
  width: 100%;
  position: absolute;
  content: "";
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.submit {
  display: flex;
  justify-content: end;
}

.form-container {
  max-width: 700px;
  width: 100%;
  background-image: url("../../images/billy-huynh-W8KTS-mhFUE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.bg-image {
  width: 100%;
  padding: 35px var(--body-padding);
  background-color: rgba(0, 51, 153, 0.7);
  height: 100%;
  top: 0;
  right: 0px;
}

.form-container h1,
.form-container p {
  text-align: center;
  color: var(--white-color);
}

.form-container h1 {
  font-size: var(--fs-big);
  margin-bottom: 15px;
}

.form-container p {
  font-size: var(--fs-small);
  font-weight: 200;
  margin-bottom: 35px;
}

.bg-image form {
  display: grid;
  color: var(--white-color);
  align-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* float label in input start */

select {
  border: none;
  background: linear-gradient(90deg, var(--blue-dark-color), var(--blue-color));
  padding: 19px 0 13px;
  font-size: 13px;
  border-radius: 3px;
}

input {
  color: var(--white-color);
}

.float-container {
  background: linear-gradient(90deg, var(--blue-dark-color), var(--blue-color));
  padding: 0 8px;
  font-size: 13px;
  margin: 5px;
  border-radius: 3px;
  position: relative;
}

.float-container input,
.float-container textarea {
  border: none;
  font-size: 13px;
  margin: 19px 0 13px;
  width: 100%;
  font-family: inherit;
  outline: 0;
  background: none;
  color: white;
}

.in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.float-container input::placeholder,
.float-container textarea::placeholder,
select::placeholder {
  color: rgb(148, 149, 241);
}

label {
  font-size: 13px;
  position: absolute;
  transform-origin: top left;
  color: white;
  font-family: inherit;
  transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
}

.float-container.active label {
  transform: translate(0, 4px) scale(0.75);
}

/* floating label in input end */

/* select */

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-image: linear-gradient(
    90deg,
    var(--blue-dark-color),
    var(--blue-color)
  );
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 18px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 19px 5px 13px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--blue-color);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* select end */

/* search input and button */
form {
  background-color: #fff;
  border: 1px solid var(--black-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 20px;
  font-size: 16px;
  font-family: "Inter";
  place-items: center;
  padding: 2px;
  overflow: hidden;
}

.search input {
  border: none;
  padding: 8px;
}

.search input:focus-visible {
  all: none;
}
