/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 2000px;
  width: 100%;
  margin: auto;
  padding: var(--body-padding);
}

.company-foot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.company-profile p {
  max-width: 450px;
  width: 100%;
  font-size: var(--fs-small);
  font-weight: 200;
  padding-top: 30px;
  line-height: 25px;
}

.company-details {
  flex: 1;
}

.company-details h2 {
  font-size: var(--fs-medium);
  font-weight: 600;
}

.details {
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.details h3 {
  font-size: var(--fs-small);
}

.details p {
  font-size: var(--fs-small);
  font-weight: 300;
  padding: 5px 0 0;
}

.foot {
  text-align: center;
  font-size: var(--fs-small);
}
